aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.4.0
APScheduler==3.10.4
argcomplete==3.5.0
asciitree==0.3.3
asgiref==3.8.1
astroplan==0.10.1
astropy==6.0.1
astropy-iers-data==0.2024.8.19.0.32.16
astropy_healpix==1.0.3
async-timeout==4.0.3
atca-rapid-response-api @ git+https://github.com/ste616/atca-rapid-response-api.git@d80ea77f9239312ac32db1bc0262429ea6a14147#subdirectory=python
attrs==24.2.0
Authlib==1.3.1
Automat==24.8.1
black==24.8.0
certifi==2024.7.4
cffi==1.17.0
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
Comet==3.1.0
confluent-kafka==2.5.0
constantly==23.10.4
contextlib2==21.6.0
contourpy==1.2.1
cryptography==43.0.0
cycler==0.12.1
dask==2024.8.1
datamodel-code-generator==0.25.9
distlib==0.3.8
Django==5.1
django-apscheduler==0.6.2
django-cors-headers==4.4.0
django-environ==0.11.2
django-extensions==3.2.3
django-filter==24.3
django-ninja==1.3.0
django-ninja-extra==0.21.4
djangorestframework==3.15.2
dnspython==2.6.1
email_validator==2.2.0
exceptiongroup==1.2.2
fastapi==0.112.1
fasteners==0.19
filelock==3.15.4
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.6.1
future==1.0.0
gcn-kafka==0.3.3
genson==1.3.0
gunicorn==23.0.0
h5py==3.11.0
healpy==1.17.3
hyperlink==21.0.0
identify==2.6.0
idna==3.7
igwn-auth-utils==1.1.0
importlib_metadata==8.4.0
incremental==24.7.2
inflect==5.6.2
iniconfig==2.0.0
injector==0.22.0
iso8601==2.1.0
isort==5.13.2
Jinja2==3.1.4
jplephem==2.22
kiwisolver==1.4.5
lalsuite==7.23
ligo-gracedb==2.12.0
ligo-segments==1.4.0
ligo.skymap==2.0.1
locket==1.0.0
lscsoft-glue==4.0.0
lxml==5.3.0
MarkupSafe==2.1.5
matplotlib==3.9.2
mhealpy==0.3.4
multidict==6.0.5
mwa-pb==1.4
mypy-extensions==1.0.0
networkx==3.3
nodeenv==1.9.1
numcodecs==0.13.0
numpy==1.26.4
orderedmultidict==1.0.1
packaging==24.1
pandas==2.0.3
partd==1.4.2
pathspec==0.12.1
pillow==10.4.0
platformdirs==4.2.2
pluggy==1.5.0
pre-commit==3.8.0
#psycopg2==2.9.9
psycopg2-binary==2.9.9
ptemcee==1.0.0
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
pyerfa==2.0.1.4
PyJWT==2.9.0
pyOpenSSL==24.2.1
pyparsing==3.1.2
pytest==8.3.2
python-dateutil==2.9.0.post0
python-decouple==3.8
python-ligo-lw==1.8.3
pytz==2024.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0.2
reproject==0.14.0
requests==2.32.3
safe-netrc==1.0.1
scipy==1.14.1
scitokens==1.8.1
sgp4==2.23
six==1.16.0
skyfield==1.49
sniffio==1.3.1
sqlparse==0.5.1
starlette==0.38.2
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
tqdm==4.66.5
twilio==9.2.3
Twisted==24.7.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
urllib3==2.2.2
virtualenv==20.26.3
voevent-parse==1.0.3
yarl==1.9.4
zarr==2.18.2
zipp==3.20.0
zope.interface==7.0.1
python-json-logger
django-ninja-jwt[crypto]