.idea
*.pyc
.eggs
*.egg-info
*.log
tests/_trial_temp/
.voevent_env/
settings.json
webapp_tracet/plantuml.jar
docs/_*
out/*
*puml
notebooks/*pynb
webapp_tracet/twistd.pid
webapp_tracet/static_host/
webapp_tracet/uwsgi-emperor.log
webapp_tracet/webapp_tracet.sock
webapp_tracet/media
docs/html/*
.env
.env*
.venv
.venv*
.vscode
demo_trigger_db.sql
build
webapp_tracet/logs
webapp_tracet/static
settings.ini
