astropy >= 5
astropy_healpix >= 0.7
healpy >=1.15.2
numpy >= 1.22.4
Comet >= 3
pytest >= 7
pandas >=1.4.2
git+https://github.com/ste616/atca-rapid-response-api.git#subdirectory=python
# ligo.skymap
mhealpy >=
gcn_kafka >= 0.3
voevent-parse >=1.0.3
mwa_pb