{% extends 'trigger_app/header.html' %}

{% block content %}
<title>Current Proposal Settings</title>
<div class="container-fluid">

  {% if user.is_authenticated %}
  <form action="{% url 'update_all_proposals' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Update Proposals</button>
  </form>
  {% endif %}


  <h2>MWA VCS proposals</h2>
  <table class="fl-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Active</th>
      <th>Version</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th>Proposal ID</th>
      <th>Priority</th>
      <th>Source Type</th>
      <th>Event Telescope</th>
      <th>Project ID</th>
      <th>Testing?</th>
      <th>Proposal Description</th>
      <th>Source Code</th>
    </tr>
    </thead>
    <!-- Iterate over object_list -->
    {% for object in object_list %}
    {% if "MWA_VCS" in object.telescope.name %}
    <!-- Display Objects -->
    <tr>
      <td><a href='/proposal_edit/{{ object.id }}/' style="text-decoration:None">{{ object.id }}</a></td>
      <td>{{ object.active }}</td>
      <td>{{ object.version }}</td>
      <td>{{ object.created_at|timesince }} ago</td>
      <td>{{ object.updated_at|timesince }} ago</td>
      <td>{{ object.proposal_id }}</td>
      <td>{{ object.priority }}</td>
      <td>{{ object.source_type }}</td>
      <td>{% if object.event_telescope is None %} All {% else %} {{ object.event_telescope }} {% endif %}</td>
      <td>{{ object.project_id }}</td>
      <td>{{ object.testing }}</td>
      <td>{{ object.proposal_description }}</td>
      <td>
        <a href="{% url 'code_browser' %}?path={{ object.code_link }}" class="btn btn-info btn-sm">View Code</a>
      </td>
    </tr>
    {% endif %}
    <!-- If object_list is empty  -->
    {% empty %}
    <li>No Settings yet.</li>
    {% endfor %}
    </table>

  <h2>MWA Correlate proposals</h2>
  <table class="fl-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Active</th>
      <th>Version</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th>Proposal ID</th>
      <th>Priority</th>
      <th>Source Type</th>
      <th>Event Telescope</th>
      <th>Project ID</th>
      <th>Testing?</th>
      <th>Proposal Description</th>
      <th>Source Code</th>
    </tr>
    </thead>
    <!-- Iterate over object_list -->
    {% for object in object_list %}
    {% if "MWA_correlate" in object.telescope.name %}
    <!-- Display Objects -->
    <tr>
      <td><a href='/proposal_edit/{{ object.id }}/' style="text-decoration:None">{{ object.id }}</a></td>
      <td>{{ object.active }}</td>
      <td>{{ object.version }}</td>
      <td>{{ object.created_at|timesince }} ago</td>
      <td>{{ object.updated_at|timesince }} ago</td>
      <td>{{ object.proposal_id }}</td>
      <td>{{ object.priority }}</td>
      <td>{{ object.source_type }}</td>
      <td>{% if object.event_telescope is None %} All {% else %} {{ object.event_telescope }} {% endif %}</td>
      <td>{{ object.project_id }}</td>
      <td>{{ object.testing }}</td>
      <td>{{ object.proposal_description }}</td>
      <td>
        <a href="{% url 'code_browser' %}?path={{ object.code_link }}" class="btn btn-info btn-sm">View Code</a>
      </td>
    </tr>
    {% endif %}
    <!-- If object_list is empty  -->
    {% empty %}
    <li>No Settings yet.</li>
    {% endfor %}
    </table>

  <h2>ATCA proposals</h2>
  <table class="fl-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Active</th>
      <th>Version</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th>Proposal ID</th>
      <th>Priority</th>
      <th>Source Type</th>
      <th>Event Telescope</th>
      <th>Project ID</th>
      <th>Testing?</th>
      <th>Proposal Description</th>
      <th>Source Code</th>
    </tr>
    </thead>
    <!-- Iterate over object_list -->
    {% for object in object_list %}
    {% if "MWA" not in object.telescope.name %}
    <!-- Display Objects -->
    <tr>
      <td><a href='/proposal_edit/{{ object.id }}/' style="text-decoration:None">{{ object.id }}</a></td>
      <td>{{ object.active }}</td>
      <td>{{ object.version }}</td>
      <td>{{ object.created_at|timesince }} ago</td>
      <td>{{ object.updated_at|timesince }} ago</td>
      <td>{{ object.proposal_id }}</td>
      <td>{{ object.priority }}</td>
      <td>{{ object.source_type }}</td>
      <td>{% if object.event_telescope is None %} All {% else %} {{ object.event_telescope }} {% endif %}</td>
      <td>{{ object.project_id }}</td>
      <td>{{ object.testing }}</td>
      <td>{{ object.proposal_description }}</td>
      <td>
        <a href="{% url 'code_browser' %}?path={{ object.code_link }}" class="btn btn-info btn-sm">View Code</a>
      </td>
    </tr>
    {% endif %}
    <!-- If object_list is empty  -->
    {% empty %}
    <li>No Settings yet.</li>
    {% endfor %}
    </table>
</div>
{% endblock %}